:root {
  --color-ink: #000000;
  --color-reverse: #ffffff;
  --color-subdued: #767676;
  --color-neutral: #afafaf;
  --button-height: 40px;

  --size-xs: 5px;
  --size-s: 10px;
  --size-m: 20px;
  --size-l: 40px;
  --size-xl: 80px;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
  font-size: 12px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.utility {
  font-size: 1em;
  letter-spacing: 0.05em;
  text-transform: uppercase;

}

button {
  font-size: 1em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-radius: 0;
  color: var(--color-reverse);
  background-color: var(--color-ink);
  border: none;
  padding: 0 var(--size-m);
  height: var(--button-height);
}
